<div fxLayout="column">

  <mat-card>
    <h3 matCardTitle>Flights</h3>
    <mat-card-content>
      <p>Find your perfect flight on Angular Flights!</p>

      <form [formGroup]="formGroup" (ngSubmit)="loadFlights()">

        <mat-form-field>
          <mat-select placeholder="Origin" formControlName="origin">
            <mat-option *ngFor="let airport of airports" [value]="airport">
              {{airport.name }} ({{airport.short}})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Destination" formControlName="destination">
            <mat-option *ngFor="let airport of airports" [value]="airport">
              {{airport.name }} ({{airport.short}})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="date-input">
          <input matInput placeholder="Departure" formControlName="departure"
                 [matDatepicker]="departurePicker" [min]="todayDate">

          <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
          <mat-datepicker #departurePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="date-input">
          <input matInput placeholder="Return" formControlName="return"
                 [matDatepicker]="returnPicker" [min]="todayDate">

          <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
          <mat-datepicker #returnPicker></mat-datepicker>
        </mat-form-field>

        <button mat-button color="primary" type="submit" [disabled]="formGroup.invalid">
          Search
        </button>

      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="formGroup.valid && (flights | async) as flights" @results>
    <mat-card>
      <mat-card-title fxLayout="row" fxLayoutAlign="center center">

        <h2>{{formGroup.value.origin.short}}</h2>
        <mat-icon class="flight-arrow" bidiIcon>arrow_forward</mat-icon>
        <h2>{{formGroup.value.destination.short}}</h2>
      </mat-card-title>
    </mat-card>
    <mat-expansion-panel *ngFor="let flight of flights.departure">
      <mat-expansion-panel-header>
        <mat-panel-title>{{flight.price}}$</mat-panel-title>

        <mat-panel-description fxLayout="row" fxLayoutAlign="space-between">
          <span>{{flight.airline}}</span>
          <div>
            <span>{{flight.departure | date:'shortTime' }}</span>
            <span> - </span>
            <span>{{flight.arrival | date:'shortTime' }}</span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span>Leaving from {{flight.terminal}}</span>
    </mat-expansion-panel>
  </div>
</div>
