:host {
  display: flex;
  justify-content: center;
}

.mat-expansion-panel, .mat-card {
  margin: 8px 0;
}

.mat-form-field {
  padding: 0 4px;
}

.date-input {
  width: 120px;
}

.flight-arrow {
  padding: 0 12px;
}
